@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }


:root {
    --bg-dark: #031D1F;
    --accent-cyan: #00F0FF;
    --highlight-orange: #FF6C00;
    --text-light: #ffffff;
}
body{
  width: 100%;
    background-color: var(--bg-dark);
  overflow-x: hidden;
}
.hero,
.whatsup,
.center-content,
nav {
  position: relative;
  z-index: 1;
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
  overflow: hidden;

}
.video-container {
  position: relative;
}
.backgroundvid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1000;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
  transition: transform 0.5s ease, opacity 1s ease;
  justify-content: center;
}


nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8;
    position: absolute;
    align-items: center;
    display:flex;
    z-index: 12;
    justify-content: space-between;
}
nav .menu{
    max-width: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  margin-left: 20px;

}
.logo span{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 40px;
  margin-left: 20px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding:8px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: #000;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.center-content h2{
  color: #fff;
  z-index: 1;
  font-size: 50;
  transition: 0.3s ease;
}

.center-content h2:hover + .creator-popup {
  opacity: 1;
  visibility: visible;
}
.creator-popup {
  position: absolute;
  top: 40px; /* below the h1 */
  left: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 10;
  width: 350px;
}
.creator-popup img{
  width: 270px;
  border-radius: 8px;
  margin: 10px;

}

.center-content h1{
  
  font-size: 80px;
  color: white;
  font-weight: 600;
  z-index: 1;
}
.center-content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 1px solid white;
  padding: 14px;
  border-radius: 50px;
  margin-top: 30px;
  transform: 0.3 ease;

}
.center-content a:hover {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0 25px rgba(0, 255, 255, 1);


  transform: translateY(-5px) scale(1.05);
}

@keyframes flowIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons i {
  font-size: 46px;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  animation: flowIn 0.5s ease forwards;
}
.social-icons i:nth-child(1) { animation-delay: 0.5s; }
.social-icons i:nth-child(2) { animation-delay: 0.7s; }
.social-icons i:nth-child(3) { animation-delay: 0.9s; }


.social-icons i:hover {
  color:black;
  transform:scale(1.5);
  transform: translateY(-5px) scale(1.1);
}



@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in {
  animation: fadeSlideUp 2s ease forwards;
}
.whatsup {
  position: flex; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: linear-gradient(135deg, #00F0FF, #FF6C00);
  padding: 100px 20px;

  color: rgb(255, 255, 255);
  text-align: center;
}
